@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

.image-container {
  display: none;
  width: 25vw;
  height: 30vw;
  position: fixed;
  border-radius: 10px;
  left: 50%;
  top: 20%;
  z-index: 20;
  background-position: center;
  background-size: cover;
}
.main-content {
  // background-color: #0b0500;
  z-index: 10;
  position: relative;
}

.layout {
  width: 100%;
  min-height: 100vh;
  background-color: #efeae3;
  position: relative;

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw;

    img {
      cursor: pointer;
    }

    .nav-items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1vw;
      //   font-size: 18px;

      a {
        padding: 10px 20px;
        border: 1px solid #c1bcb5;
        border-radius: 50px;
        text-decoration: none;
        color: #0b0500;
        position: relative;
        overflow: hidden;
        background: transparent;
        z-index: 1;

        &::after {
          content: "";
          background-color: black;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: -100%;
          transition: all 0.28s ease-in-out;
          border-radius: 100%;
          z-index: -1;
        }
        &:hover {
          color: white;
        }
        &:hover::after {
          bottom: 0;
          border-radius: 0;
        }
      }
    }
  }

  .banner {
    width: 100%;
    height: 80.5vh;
    // background-color: red;
    padding: 0vw 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2vw;
    border-bottom: 1px solid #c1bcb5;

    .info {
      width: 32vw;
      font-size: 1.8vw;
      font-weight: 600;
      letter-spacing: -1px;
      line-height: 2vw;
    }
    .title {
      width: 50%;
      font-size: 5.5vw;
      text-transform: uppercase;
      letter-spacing: -8px;
      line-height: 9vw;
      text-align: right;
    }
  }
  .main-video {
    padding: 5vw 2vw;
    border-radius: 50px;
    overflow: hidden;

    video {
      width: 100%;
      border-radius: 30px;
    }
  }
  .marquee {
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .marquee-wrapper {
      white-space: nowrap;
      display: inline-block;
      animation-name: marquee;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      h1 {
        font-size: 8vw;
        display: inline-block;
        letter-spacing: -5px;
      }

      .drop {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: inline-block;
        place-items: center;
        background-color: #fe320a;
        margin: 1vw 2vw;
      }
    }
    @keyframes marquee {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(-100%);
      }
    }
  }
  .about {
    width: 100%;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5.5vw;
    padding-top: 5.5vw;
    padding-bottom: 20vw;
    margin-top: 2vw;
    position: relative;
    z-index: 1;

    .about-info {
      font-size: 4rem;
      font-weight: 700;
      line-height: 70px;
      letter-spacing: -4px;
      // background-color: lightgreen;
    }

    .about-card {
      margin-top: 10vw;
      // background-color: lightgreen;
      width: 25%;

      img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 2.5vw;
      }
      p {
        width: 100%;
        font-size: 15px;
        line-height: 20px;
      }
    }
    .circle {
      background-color: #fe320a;
      width: 35vw;
      height: 35vw;
      position: absolute;
      top: 35%;
      left: 25%;
      border-radius: 50%;
      filter: blur(40px);
      z-index: -1;
      animation: sun 3s linear alternate infinite;
    }
    .circle2 {
      background-color: #ff6600;
      width: 35vw;
      height: 35vw;
      position: absolute;
      top: 30%;
      left: 30%;
      border-radius: 50%;
      filter: blur(40px);
      z-index: -2;
      animation: sun 3s linear alternate infinite;
    }
    @keyframes sun {
      from {
        transform: translate(5%, -5%) skew(-10deg);
      }
      to {
        transform: translate(-20%, 20%) skew(10deg);
      }
    }
  }

  .featured-projects {
    width: 100%;
    padding-bottom: 3vw;

    .heading {
      width: 100%;
      padding: 4vw 2vw;
      font-weight: 100;
      font-size: 14px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fe320a;
      }
    }

    .project-list {
      width: 100%;
      height: 120px;
      align-items: center;
      border-bottom: 1px solid #c1bcb5;
      position: relative;
      // background-color: #fe320a;
      overflow: hidden;
      background: transparent;
      z-index: 1;

      &:hover .overlay {
        top: 0;
      }

      .overlay {
        width: 100%;
        height: 100%;
        background-color: #ff9831;
        position: absolute;
        top: -100%;
        transition: all 0.2s ease-in-out;
        z-index: -1;
      }
      .list-heading {
        font-size: 50px;
        align-items: center;
        padding: 2.5vw 2vw;
        letter-spacing: -3px;
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
      }
    }
    .btn {
      display: flex;
      padding: 4vw 2vw;

      .project-btn {
        padding: 15px 25px;
        border: 1px solid #c1bcb5;
        text-decoration: none;
        color: #0b0500;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 50px;
        display: flex;
        gap: 1vw;
        align-items: center;
        justify-content: center;

        &::after {
          content: "";
          width: 100%;
          height: 150%;
          background-color: #0b0500;
          position: absolute;
          left: 0;
          bottom: -150%;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          z-index: -1;
        }

        &:hover {
          color: white;
          .svg-container {
            path {
              stroke: #efeae3;
            }
          }
        }

        &:hover::after {
          bottom: 0;
          border-radius: 0;
        }
      }
    }
  }
}

.footer-container {
  height: 100vh;
  background-color: #0b0500;
  width: 100%;
}
.footer {
  position: fixed;
  bottom: 0;
  color: #efeae3;
  display: flex;
  width: 100%;
  flex-direction: column;
  // height: 100vh;

  .footer-heading {
    font-size: 21vw;
    width: 100%;
    // justify-self: center;
    // align-self: center;
    text-align: center;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    margin: 0vw 2vw;
    padding: 2vw 0;
    // align-items: center;
    border-top: 0.5px solid #c1bcb5;

    h2:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5vw;
    }
    h2 {
      font-size: 16px;
      font-weight: 100;
    }
  }
  .menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 6vw;
    font-size: 24px;

    .menu-items {
      margin-bottom: 4vw;

      h2 {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #c1bcb5;
        }
      }
    }
    .input-field {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      width: 25%;

      label {
        font-size: 18px;
      }

      input {
        background: none;
        border: none;
        border-bottom: 1px solid #c1bcb5;
        padding: 10px;
      }
    }
  }
}
